*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{    
    font-family: 'Open Sans', sans-serif;
}

/* utilities */

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.float{
    float:left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 5px 10px;
    text-decoration: none;
}

.btn-blue{
    background-color:#0061FF;
    color:white;
}

.btn-white{
    background-color:#fff;
    color:black;
    border: 1px solid black;
}

.btn-small{
    width: 50px;
    height: 25px;
}

.container{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;    
}

.small-container{
    position: relative;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}


.border-grey{
    border: 1px solid lightgray; 
}


/* Header  */
/* barra pulsanti in alto */

.topbar{
    height: 50px;
}

.topbar nav{
    line-height: 50px;
    width: 50%;    
}

.topbar nav ul li{
    display: inline;
}

.topbar nav ul li a img{
    vertical-align: middle;    
}

.topbar nav ul li a{    
    margin: 0 20px;
    text-decoration:none;
    color: black;
    font-size: 13px;
    font-weight: 550;
}

.topbar nav ul li:last-child a{    
   color:white;
}

/* main header  */
header .mainheader{
    background-color:lightblue;
    height: 590px;
    position:relative;
}

/* titolo principale  */
header .mainheader .title{
    width: 950px;
    position:absolute;
    top: 50px;
    left: 450px;    
}
header .mainheader .title h1{
    font-size: 50px;  
}

/* blocchi due colonne  */

.mainheader .container .cols {
    position:absolute;
    top:230px;
    left:450px;
}
.mainheader .container .cols .col-left{
    width: 25%;
}

.mainheader .container .cols .col-left .text{
    line-height: 20px;
    margin-bottom: 30px;
}

.mainheader .container .cols .col-left .text h3{
    font-size: 15px;    
    font-weight: 500;
}
.mainheader .container .cols .col-left .cancel{
    margin-top:15px;
}
.mainheader .container .cols .col-left .cancel h4{
    font-size: 13px;    
    font-weight: 500;
}

.mainheader .container .cols .col-left .arrow-down{
    padding-top: 35px;
    font-size: 35px;
}

.mainheader .container .cols .col-right .content-img{
    padding-bottom: 100px;
    
}

.mainheader .container .cols .col-right .content-img img{
    width: 750px;
    height: 1000px;
    object-fit: contain;
    object-position: top;
}

/* main */
main{
    height: 2500px;
    
}
/* subscription solutions */

.subscription-plan{
    width: 100%;
    position: absolute;
    top: 160px;
    left: 0;
}
/* titolo subscription plan  */
.subscription-plan .title-subscription h3{
    font-size: 30px;    
} 
/* radio buttons  */
.subscription-plan .radio{
    position: absolute;
    top: 75px;
    left: 125px;    
}

.subscription-plan .radio .monthly,
.subscription-plan .radio .annual{
    display: inline-block;
    margin: 0 15px;
}

/* colonne dei piani di abbonamento */

.subscription-plan .solutions{
    width: 100%;
    height: 800px;
    position: absolute;
    top: 110px;
    left: 125px;
}

.plan{
    width: 317px;
}

.subscription-plan .solutions .professional{
    height: 100%;
    margin-right: 16px;
}

.subscription-plan .solutions .standard{
    height: 100%;
    margin: 0 8px;
}

.subscription-plan .solutions .advanced {
    float: right;
    height: 100%;
    margin-left: 16px;
    margin-right: 0;
}

/* .subscription-plan .solutions .plan */.plan-title{
    height: 35px;
    border-bottom: 1px solid lightgray;
    line-height: 35px;
}
 .plan-title h4{
    font-size: 14px;
   
}

/* contenuto dei piani di abbonamento  */

/* margini contenuti piani di abbonamento  */
.subscription-plan .solutions .plan .content-plan{ 
    margin: 20px 20px;
}


.subscription-plan .solutions .plan .name-plan{
    font-size:15px;
    margin-bottom: 10px;    
}

.subscription-plan .solutions .plan .cost{
    margin-bottom: 7px;    
}

.subscription-plan .solutions .plan .duration{
    margin-bottom: 20px;    
}

.subscription-plan .solutions .plan .user-available{
    margin-bottom: 10px;    
}

.subscription-plan .solutions .plan .memory-space{
    margin-bottom: 15px;    
}

.subscription-plan .solutions .plan .details-plan{
    margin-bottom: 30px;    
}

.subscription-plan .solutions .plan p{
    margin: 20px 0;    
}

.subscription-plan .solutions .plan p a{
    text-decoration: none;   
}

.subscription-plan .solutions .plan .content-plan hr{
    width: 20%;   
}


/* punti salienti del piano */

.subscription-plan .solutions .plan .content-plan .highlights-plan{
    margin-top: 30px;   
}

.subscription-plan .solutions .plan .content-plan .highlights-plan h6{
    font-size: 13px;
    font-weight: 600;   
}

.subscription-plan .solutions .plan .content-plan .highlights-plan .fa-check{
    color:blue;   
}

.subscription-plan .solutions .plan .content-plan .highlights-plan *{
    margin: 10px 0;   
}

/* blocco enterprise */
.enterprise{
    position: absolute;
    top:940px;
    left: 125px;
    width: 1000px;
    height: 150px;
}

.enterprise .left-enterprise{
    width: 65%;
    padding-top: 13px;
    padding-left: 20px;
}

.enterprise .left-enterprise h4{
    padding-bottom: 13px;
    font-size:16px;
}

.enterprise .left-enterprise h6{
    padding-bottom: 15px;
    font-size: 14px;
}

.enterprise .right-enterprise{
    width: 35%;
    padding-top: 13px;
    padding-right: 20px;
}

.enterprise .right-enterprise .btn{
    padding: 4px 35px;
    
}

.partner-dropbox{
    width: 100%;
    position: absolute;
    top:1350px;
    left:125px;
}

.pic{
    width: 55%;
    height: 100%;
    
}

.pic img{
    width: 100%;
    object-fit: contain;
}

.text-pic{
    width: 42%;
    height: 100%;
    padding-top: 30px;
    padding-left: 45px;
}

.text-pic h1{
    margin-bottom: 10px;
    font-size: 20px;
}

.text-pic p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 28px;
}

/* Dropbox business */

.dropbox-business{
    position: absolute;
    top: 1900px;
    left: 125px;
    width: 100%;
    height: 1000px;    
}

.dropbox-business .title-business{
    font-size: 18px;
}

.dropbox-business .first-row, 
.dropbox-business .second-row{
    width: 100%;
    height: 400px;
}

.dropbox-business .first-row .col, 
.dropbox-business .second-row .col{
    width: 33%;
    height: 100%;
    padding: 15px 12px;
}

.dropbox-business .first-row .col .col-img img, 
.dropbox-business .second-row .col .col-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 15px;
}

.dropbox-business .first-row .col .col-text h3{
    padding-bottom: 20px;
}

.dropbox-business .first-row .col .col-text p a{
    color:black;
}

