*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{    
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.float{
    float:left;
}
 .push-right{
    float: right;
} 

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 5px 10px;
    text-decoration: none;
}

.btn-blue{
    background-color:#0061FF;
    color:white;
}

.btn-white{
    background-color:#fff;
    color:black;
    border: 1px solid black;
}

.btn-small{
    width: 50px;
    height: 25px;
}

.btn:hover{
    filter:brightness(1.4)
}

.container{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;    
}

.small-container{
    position: relative;
    max-width: 1000px;
    height: 115%;
    margin: 0 auto;
}

.second-small-container{
    position: relative;
    max-width: 1000px;
    height: 40%;
    margin: 0 auto;
}

.border-grey{
    border: 1px solid lightgray; 
}

.bottom-border-grey{
    border-bottom: 0.5px solid lightgray;
}
.color-link{
    color: #0061FF;
}

.m-top{
    margin-top: 50px;
}

.color-lightgrey{
    color:lightgray;
}

.f-size-15{
    font-size: 15px;
}

.f-size-14{
    font-size: 14px;   
}

/* HEADER  */
/* TOPBAR - barra pulsanti in alto */

.topbar{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
} 

.topbar nav{
    line-height: 50px;
    height: 50px;
    width: 50%;    
}

.topbar nav ul li{    
    height: 100%;   
    list-style-type: none;
}

.topbar nav ul .highlighted{
    height: 100%;
}

.topbar nav ul .highlighted:hover{
    background-color: transparent;
    border-bottom: 3px solid blue;
}

.topbar nav ul li a img{
    vertical-align: middle;    
}

.topbar nav ul li a{    
    margin: 0 20px;
    text-decoration:none;
    color: black;
    font-size: 13px;
    font-weight: 550;
}

.topbar nav ul li .btn{    
   color:white;
}

/* MENU A TENDINA */

.topbar .nav-right ul .support li ul{
    display:none;
    background-color: #fff;
}

.topbar .nav-right ul .support li:hover ul{
    display:block;
    position:absolute;
    z-index: 2; 
}   

.topbar .nav-right ul .support li ul li:hover{
    background-color: lightgrey; 
    border-bottom: lightgrey;
}

/* MAIN HEADER  */
header .mainheader{
    background-color:lightblue;
    height: 590px;
    position:relative;
}

/* TITOLO PRINCIPALE  */
header .mainheader .title{
    width: 950px;
    position:absolute;
    top: 80px;
    left: 450px;    
}

header .mainheader .title h1{
    font-size: 50px;  
}

/* BLOCCHI DUE COLONNE  */

.mainheader .container .cols {
    position:absolute;
    top:255px;
    left:450px;
}
.mainheader .container .cols .col-left{
    width: 25%;
}

.mainheader .container .cols .col-left .text{
    line-height: 20px;
    margin-bottom: 30px;
}

.mainheader .container .cols .col-left .text h3{
    font-weight: 500;
}
.mainheader .container .cols .col-left .cancel{
    margin-top:15px;
}
.mainheader .container .cols .col-left .cancel h4{
    font-size: 13px;    
    font-weight: 500;
}

.mainheader .container .cols .col-left .arrow-down{
    padding-top: 35px;
    font-size: 35px;
}

/* ANIMAZIONE FRECCIA IN GIU' */
.mainheader .container .cols .col-left .arrow-down .fa-arrow-down{
    animation: bouncing 0.5s infinite alternate;
}

@keyframes bouncing{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-25px);
    }
}


.mainheader .container .cols .col-right .content-img{
    padding-bottom: 100px;    
}

.mainheader .container .cols .col-right .content-img img{
    width: 750px;
    height: 1000px;
    object-fit: contain;
    object-position: top;
}

/* MAIN */
main{
    height: 2500px;    
}

/* SUBSCRIPTION SOLUTIONS */

.subscription-plan{
    width: 100%;
    position: absolute;
    top: 160px;
    left: 0;
}
/* titolo subscription plan  */
.subscription-plan .title-subscription h3{
    font-size: 30px;    
} 
/* radio buttons  */
.subscription-plan .radio{
    position: absolute;
    top: 75px;
    left: 0;    
}

.subscription-plan .radio .monthly,
.subscription-plan .radio .annual{
    display: inline-block;
    margin: 0 15px;
}

/* COLONNE DEI PIANI DI ABBONAMENTO */

.subscription-plan .solutions{
    width: 100%;
    height: 800px;
    position: absolute;
    top: 110px;
    left: 0;
}

.plan{
    width: 317px;
}

.subscription-plan .solutions .professional{
    height: 100%;
    margin-right: 16px;
}

.subscription-plan .solutions .standard{
    height: 100%;
    margin: 0 8px;
}

.subscription-plan .solutions .advanced {
    float: right;
    height: 100%;
    margin-left: 16px;
    margin-right: 0;
}

.subscription-plan .solutions .plan .plan-title{
    height: 35px;
    border-bottom: 1px solid lightgray;
    line-height: 35px;
}

/* CONTENUTO DEI PIANI DI ABBONAMENTO */
/* MARGINI CONTENUTI DEI PIANI DI ABBONAMENTO  */

.subscription-plan .solutions .plan .content-plan{ 
    margin: 20px 20px;
}

.subscription-plan .solutions .plan .name-plan{
    margin-bottom: 10px;    
}

.subscription-plan .solutions .plan .cost{
    margin-bottom: 7px;    
}

.subscription-plan .solutions .plan .duration{
    margin-bottom: 20px;    
}

.subscription-plan .solutions .plan .user-available{
    margin-bottom: 10px;    
}

.subscription-plan .solutions .plan .memory-space{
    margin-bottom: 15px;    
}

.subscription-plan .solutions .plan .details-plan{
    margin-bottom: 30px;    
    margin-left: 19px;
}

.subscription-plan .solutions .plan p{
    margin: 20px 0;    
}

.plan .content-plan div .fas,
.plan .content-plan div .far{
    padding-right:2px;
}

.subscription-plan .solutions .plan p a{
    text-decoration: none;   
}

.subscription-plan .solutions .plan .content-plan hr{
    width: 20%;   
}

.fa-pen {
    text-indent:-1.5em;
    padding-right: 2px;
}

.fa-smile {
    text-indent:-1.5em;
    margin-right: 2px;
}

/* PUNTI SALIENTI DEL PIANO */

.subscription-plan .solutions .plan .content-plan .highlights-plan{
    margin-top: 30px;   
}

.subscription-plan .solutions .plan .content-plan .highlights-plan h6{
    font-size: 13px;
    font-weight: 600;   
}

.subscription-plan .solutions .plan .content-plan .highlights-plan .fa-check{
    color:blue;   
}

.subscription-plan .solutions .plan .content-plan .highlights-plan *{
    margin: 10px 0;   
}

/* BLOCCO ENTEPRISE */
.enterprise{
    position: absolute;
    top:940px;
    left: 0;
    width: 1000px;
    height: 150px;
}

.enterprise .left-enterprise{
    width: 65%;
    padding-top: 13px;
    padding-left: 20px;
}

.enterprise .left-enterprise h4{
    padding-bottom: 13px;
    font-size:16px;
}

.enterprise .left-enterprise h6{
    padding-bottom: 15px;
}

.enterprise .right-enterprise{
    width: 35%;
    padding-top: 13px;
    padding-right: 20px;
}

.enterprise .right-enterprise .btn{
    padding: 4px 35px;
    
}

.partner-dropbox{
    width: 100%;
    position: absolute;
    top:1350px;
    left:0;
}

.pic{
    width: 55%;
    height: 100%;
    
}

.pic img{
    width: 100%;
    object-fit: contain;
}

.text-pic{
    width: 42%;
    height: 100%;
    padding-top: 30px;
    padding-left: 45px;
}

.text-pic h1{
    margin-bottom: 10px;
    font-size: 20px;
}

.text-pic p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 28px;
}

/* DROPBOX BUSINESS */

.dropbox-business{
    position: absolute;
    top: 1900px;
    left: 0;
    width: 100%;
    height: 1000px;    
}

.dropbox-business .title-business{
    font-size: 18px;
}

.dropbox-business .first-row, 
.dropbox-business .second-row{
    width: 100%;
    height: 415px;
}

.dropbox-business .first-row .col, 
.dropbox-business .second-row .col{
    width: 33%;
    height: 100%;
    padding: 15px 12px;
}

.dropbox-business .first-row .col .col-img img, 
.dropbox-business .second-row .col .col-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 15px;
}

.dropbox-business .first-row .col .col-text h3{
    padding-bottom: 1px;
    font-size: 20px;
}

.dropbox-business .first-row .col .col-text p a{
    color:black;
}

/* SECTION COMPANIES */

.companies{
    width: 100%;
    height: 925px;
}

.companies .header-section-companies{
    width: 1000px;
    margin: 0 auto;
}

.companies .header-section-companies h3{
    font-size: 25px;
    width: 355px;
    padding-bottom: 10px;
}

.companies .header-section-companies a{
    text-decoration: none;
}

.companies .main-section-companies{
    margin-top: 30px;
    height: 500px;
    width: 100%;   
}

.companies .main-section-companies .left-square, 
.companies .main-section-companies .right-square{
    height: 100%;
    width: 30%;
}

.companies .main-section-companies .central-square{
    height: 100%;
    width: 40%;
    background-color: #e9f1e8;
    padding-top: 20px;
    padding-left: 40px;   
    padding-right: 50px;  
}

.companies .main-section-companies .left-square .little-square, 
.companies .main-section-companies .right-square .little-square{
    width: 50%;
    height: 50%;    
}

.companies .main-section-companies .left-square .little-square, 
.companies .main-section-companies .right-square .little-square{
    width: 50%;
    height: 50%;
    position: relative;
}

.companies .main-section-companies .left-square .little-square img, 
.companies .main-section-companies .right-square .little-square img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate( -50%, -50% );
    object-fit: contain;
}

/* BACKGROUND COLOR LITTLE SQUARE */

.green{
    background-color: #7fcb7f;
}   
.bordeaux{
    background-color: #640505;
}
.lightblue{
    background-color:#4c75a0;
}
.red{
    background-color: red;
}
.darkred{
    background-color: rgb(255, 0, 0);
}
.heavenly{
    background-color: #d2d2ef;
}
.blue{
    background-color: #06068c;
}
.yellow{
    background-color: #ffc107; 
}

/* CENTRAL SQUARE */

.companies .main-section-companies .central-square hr{
    width: 8%;     
    color:#000;
}

.companies .main-section-companies .central-square .title-central-square img{
    width: 100px;
    height: 100px; 
    object-fit: contain;   
}

.companies .main-section-companies .central-square .text-central-square p, 
.companies .main-section-companies .central-square .text-central-square .author{
    margin-top: 45px;      
}

/* bordo in hover sui quadrati delle companies */
.companies .main-section-companies .left-square .little-square:hover, 
.companies .main-section-companies .right-square .little-square:hover, 
.companies .main-section-companies .central-square .little-square:hover{
    border: 10px solid rgb(233, 231, 231);
    opacity: 0.8;
}


.footer-section-companies{
    width: 100%;
    height: 255px;
}

.footer-section-companies .col{
    width: 50%;
}

.footer-section-companies .col h4{
   font-size: 32px;
   padding: 82px 0px 100px 35px;
   color: #640505;
}   

.free-trial-btn{
    padding: 120px 0 160px 185px;  
}

.free-trial-btn .btn{
    padding: 4px 50px;
    border: 0.5px solid white;
}

.free-trial-btn .btn:hover{
    filter:brightness(0.9);
}



/* DOMANDE FREQUENTI */

.second-small-container .frequent-questions{
    position:absolute;
    top:50px;
    left:0;    
    width: 100%;
}

.second-small-container .frequent-questions h4{
    font-size:22px;
}

.second-small-container .frequent-questions .question-row .question{
    width: 90%;
    line-height: 65px;
    font-weight: 800;
}
.second-small-container .frequent-questions .question-row .chevron-down{
    width:10%;
    line-height: 50px;
}
.second-small-container .frequent-questions .question-row{
    height: 65px;    
    border-top: 1px solid lightgray;    
}
.second-small-container .frequent-questions .question-row:last-child{
    border-bottom: 1px solid lightgray;    
}

/* FOOTER */

footer{
    height: 440px;
    background-color: #000;
    position:relative;  
    top: 1800px;
}

footer .container{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 80px;
}

footer .container .sitemap{
    color:white;
    margin: 0 auto;
    padding-bottom: 110px;
}

footer .container .sitemap .site-section{
    width: 20%;
    padding: 0 50px;
}

footer .container .sitemap:last-child .site-section{
    margin-bottom: 100px;
}

footer .container .sitemap .site-section ul{
    font-weight: 600;
}


footer .container .sitemap .site-section ul li:first-child{
    margin-top: 15px;
}

footer .container .sitemap .site-section ul li{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    list-style-type: none;
}

footer .container .sitemap .site-section ul li a{
    text-decoration:none;
    color:white;
}

footer .container hr{
    margin-left:50px;
    color: white;
    width: 10%;
}

/* LINGUA */

footer .container .language{
    margin-top: 50px;
    margin-left:50px;
    color:lightgray;
}

footer .container .language .fas{
    padding: 0 5px;

}




