*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{    
    font-family: 'Open Sans', sans-serif;
}

/* utilities */

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.float{
    float:left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 5px 10px;
    text-decoration: none;
}

.btn-blue{
    background-color:#0061FF;
    color:white;
}

.btn-small{
    width: 50px;
    height: 25px;
}

.container{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;    
}

.small-container{
    max-width: 1150px;
    margin: 0 auto;
}



/* Header  */
/* barra pulsanti in alto */

.topbar{
    height: 50px;
}

.topbar nav{
    line-height: 50px;
    width: 50%;    
}

.topbar nav ul li{
    display: inline;
}

.topbar nav ul li a img{
    vertical-align: middle;    
}

.topbar nav ul li a{    
    margin: 0 20px;
    text-decoration:none;
    color: black;
    font-size: 13px;
    font-weight: 550;
}

.topbar nav ul li:last-child a{    
   color:white;
}

/* main header  */
header .mainheader{
    background-color:lightblue;
    height: 590px;
    position:relative;
}

/* titolo principale  */
header .mainheader .title{
    width: 950px;
    position:absolute;
    top: 50px;
    left: 450px;    
}
header .mainheader .title h1{
    font-size: 50px;  
}

/* blocchi due colonne  */

.mainheader .container .cols {
    position:absolute;
    top:230px;
    left:450px;
}
.mainheader .container .cols .col-left{
    width: 25%;
}

.mainheader .container .cols .col-left .text{
    line-height: 20px;
    margin-bottom: 30px;
}

.mainheader .container .cols .col-left .text h3{
    font-size: 15px;    
    font-weight: 500;
}
.mainheader .container .cols .col-left .cancel{
    margin-top:15px;
}
.mainheader .container .cols .col-left .cancel h4{
    font-size: 13px;    
    font-weight: 500;
}

.mainheader .container .cols .col-left .arrow-down{
    padding-top: 35px;
    font-size: 35px;
}

.mainheader .container .cols .col-right .content-img{
    padding-bottom: 100px;
    
}

.mainheader .container .cols .col-right .content-img img{
    width: 750px;
    height: 1000px;
    object-fit: contain;
    object-position: top;
}


/* main */
/* subscription solutions */
